/* Removes unwanted styling from the page */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  max-width: 100%;
.hero {background-image: url('/images/hero.png');
height: 500px;padding-top: 219px;padding-left: 103px;
}

/* Write your code below this */
